*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
  scroll-behavior: smooth;
  background: var(--color-surface);
}

body,
button,
input,
select,
textarea {
  font: inherit;
}

body,
h1,
h2,
h3,
p,
figure,
ol,
ul {
  margin: 0;
}

button,
a,
input,
select,
textarea,
summary {
  -webkit-tap-highlight-color: transparent;
}

button,
select {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

img {
  max-width: 100%;
}
